<!--    Search Bar  -->
<header class="flex justify-end">
    <div class="p-8">
        <form
            class="flex bg-c-whitesmoke items-center rounded-full py-1 px-2 h-10 shadow-xl border-2 border-c-purple-light"
            id="form_settings"
            action="/{{user}}/search"
            method="GET"
        >
            <input
                class="bg-c-whitesmoke rounded-l-full w-full py-4 px-6 text-c-teal-dark font-medium h-1 leading-tight focus:outline-none"
                id="boardname"
                name="boardname"
                type="text"
                placeholder="Search board name"
            />

            <div class="p-4">
                <button
                    type="submit"
                    class="fas fa-search bg-c-purple-dark text-white rounded-full py-2 px-4 hover:bg-c-purple-light focus:outline-none w-12 h-8 flex items-center justify-center"
                    id="search-button"
                    form="form_settings"
                ></button>
            </div>
        </form>
    </div>
</header>