<!-- Add Modal -->
<div
    class="hidden fixed z-10 inset-0 overflow-y-auto"
    aria-labelledby="modal-title"
    aria-modal="true"
    id="show-listDetails-modal"
>
    {{#with board}}
    <div class="menuContainer">
        <div class="menu">
            <div class="menuTitle">
                <div>
                <p>{{cardName}}</p>
            </div>
        </div>
        <div class="menuDescription">
            <div>
                <p>{{cardDesc}}</p>
            </div>
        </div>
        <input class="commentsInput input_field" placeholder="Write a comment..."><button class="commentsButton btn-save-comment">Comment</button>
        <div class="menuComments">
            {{#if cardComments}}
            {{#each cardComments}}
            <div class="comment">{{cardComments}}<button class="delButton-comment">X</button></div>
            {{/each}}
            {{/if}}
            
        </div>
    </div>
    {{/with}}
</div>    
    
</div>