<nav class="bg-c-purple-dark fixed w-full top-0">
    <div class="px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center h-16">
            <div
                class="flex sm:items-stretch sm:justify-between sm:w-full"
            >
                <!-- Our Logo  -->
                <div class="flex flex-wrap">
                    <div class="flex-shrink-0 flex items-center">
                        <img
                            class="block lg:hidden h-8 w-auto"
                            src="../svg/Trone.svg"
                            alt="Trone Logo"
                        />
                        <img
                            class="hidden lg:block h-8 w-auto"
                            src="../svg/Trone.svg"
                            alt="Trone Logo"
                        />
                    </div>

                    <div
                        class="flex-wrap hidden sm:flex sm:justify-between sm:ml-6"
                    >
                        <div class="flex space-x-4">
                            <a
                                href="/{{user}}/boards"
                                class="text-gray-50 hover:bg-c-purple-light hover:text-white px-3 py-2 rounded-md text-lg font-medium"
                                aria-current="page"
                                >Personal Boards</a
                            >
                        </div>
                    </div>
                </div>
                <div class="flex-shrink-0 flex items-center">
                    <button id="board-settings-button">
                        <svg
                            class="w-8 p-1 text-white hover:bg-c-purple-light rounded-sm"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>