<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/custom_styles.css" />
    <title>About</title>
  </head>
  <body class="bg-c-whitesmoke">
    <!--  About -->
    <div class="p-10 bg-white" id="about">
      <h1 class="text-5xl text-center font-bold p-5 uppercase">
        How <span class="font-lemon">TRONE</span> works
      </h1>

      <!--  Details -->
      <div class="flex content-center items-center flex-col">
        <!--  Create an Account -->
        <div class="flex justify-center p-2">
          <div class="bg-white flex-shrink-0 mr-20">
            <img
              src="../svg/Acccount.svg"
              alt="create-account"
              class="w-96 h-96"
            />
          </div>
          <div>
            <div class="w-80 h-80 text-center px-10">
              <div
                class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24"
              >
                <h1 class="font-semibold text-xl">1</h1>
              </div>
              <h2 class="p-4 text-2xl font-semibold pt-5">Create Account</h2>
              <p class="text-lg">
                Start you journey to being productive and manage your tasks
                effectively with <span class="font-lemon">TRONE</span>.
              </p>
            </div>
          </div>
        </div>

        <!--  Log In  -->
        <div class="flex justify-center p-4">
          <div>
            <div class="w-80 h-80 text-center px-10">
              <div
                class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-20 ml-24"
              >
                <h1 class="font-semibold text-xl">2</h1>
              </div>
              <h2 class="p-4 text-2xl font-semibold pt-5">Log In</h2>
              <p class="text-lg">
                Make the most out it and start creating specific boards that
                would keeps your tasks in check.
              </p>
            </div>
          </div>
          <div class="bg-white flex-shrink-0 ml-20">
            <img
              src="../svg/Log in.svg"
              alt="create-account"
              class="w-96 h-96"
            />
          </div>
        </div>

        <!--  Boards -->
        <div class="flex justify-center p-4">
          <div class="bg-white flex-shrink-0 mr-20">
            <img
              src="../svg/Board.svg"
              alt="create-account"
              class="w-96 h-96"
            />
          </div>
          <div>
            <div class="w-80 h-80 text-center px-10">
              <div
                class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24"
              >
                <h1 class="font-semibold text-xl">3</h1>
              </div>
              <h2 class="p-4 text-2xl font-semibold pt-5">Boards</h2>
              <p class="text-lg">
                Make the most out it and start creating specific boards that
                would keeps your tasks in check.
              </p>
            </div>
          </div>
        </div>

        <!--  List  -->
        <div class="flex justify-center p-4">
          <div>
            <div class="w-80 h-80 text-center px-10">
              <div
                class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24"
              >
                <h1 class="font-semibold text-xl">4</h1>
              </div>
              <h2 class="p-4 text-2xl font-semibold pt-5">Lists</h2>
              <p class="text-lg">
                Specify certain lists in the board to know which to prioritize
                first.
              </p>
            </div>
          </div>
          <div class="bg-white flex-shrink-0 ml-20">
            <img src="../svg/List.svg" alt="create-account" class="w-96 h-96" />
          </div>
        </div>

        <!--  Card -->
        <div class="flex justify-center p-4">
          <div class="bg-white flex-shrink-0 mr-20">
            <img src="../svg/Card.svg" alt="create-account" class="w-96 h-96" />
          </div>
          <div>
            <div class="w-80 h-80 text-center px-10">
              <div
                class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24"
              >
                <h1 class="font-semibold text-xl">5</h1>
              </div>
              <h2 class="p-4 text-2xl font-semibold pt-5">Cards</h2>
              <p class="text-lg">
                Put your task in a card and add dates and labels to know what's
                important.
              </p>
            </div>
          </div>
        </div>

        <!--  Customize  -->
        <div class="flex justify-center p-4">
          <div>
            <div class="w-80 h-80 text-center px-10">
              <div
                class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-20 ml-24"
              >
                <h1 class="font-semibold text-xl">6</h1>
              </div>
              <h2 class="p-4 text-2xl font-semibold pt-5">Design</h2>
              <p class="text-lg">
                Customize the cards as you see fit to keep yourself going with
                its simple and user friendly interface.
              </p>
            </div>
          </div>
          <div class="bg-white flex-shrink-0 ml-20">
            <img
              src="../svg/Customize.svg"
              alt="create-account"
              class="w-96 h-96"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
