<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="float-left mb-4 p-2 w-1/3 flex-auto bg-c-purple-darker">
      <div
        class="max-w-md mx-auto bg-white rounded-xl shadow-2xl overflow-hidden md:max-w-2xl transition ease-in-out duration-700 transform hover:scale-105 motion-reduce:transform-none"
      >
        <img
          class="h-48 w-full object-cover md:w-48"
          src="../img/heinze.jpg"
          alt="Heinze"
          style="width: 100%"
        />
        <div class="p-4 m-3 clear-both table">
          <h2 class="font-bold text-2xl mb-2">Heinze Kristian Moneda</h2>
          <p class="text-gray-400">
            BS Computer Science <br />Major in Software Technology Student
          </p>
          <p class="my-1 text-sm">De La Salle University</p>
          <p>heinze_moneda@dlsu.edu.ph</p>
        </div>
        <div
          class="p-2 text-white bg-purple-600 hover:bg-purple-800 text-center w-full"
        >
          <div class="flex justify-evenly p-0.5 text-lg">
            <a
              href="https://www.facebook.com/heinzedotmoneda"
              target="_blank"
              class="fa fa-facebook"
            ></a>

            <a
              href="https://www.instagram.com/heinzedotmoneda/"
              target="_blank"
              class="fa fa-instagram"
            ></a>
            <a href="#" target="_blank" class="fa fa-linkedin"></a>
            <a
              href="https://github.com/HMoneda"
              target="_blank"
              class="fa fa-github"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
