<!-- Welcome -->
<div id="home" class="relative bg-c-purple-darker w-full overflow-hidden">
  <div
    class="flex flex-col items-center text-center justify-center h-screen"
  >
    <div class="w-1/2 m-2 mt-8 font-raleway">
      <h1 class="p-8 font-bold text-6xl text-white">
        Welcome to <span class="font-lemon text-black">TRONE</span>
      </h1>
      <hr />
      <p class="p-8 font-light text-white">
        <span class="font-lemon text-black">Trone</span> is a productivity
        app that was inspired from Trello and Evernote. The application is
        made easier, more flexible and simpler to manage and organize notes
        and reminders.
      </p>
      <a
        class="btn-home px-4 py-2 rounded-md text-white focus:outline-none"
        href="#about"
      >
        Learn More
      </a>
    </div>
    <div class="absolute bottom-0 w-full z-0 mt-20">
      <div class="absolute wave wave-1"></div>
      <div class="absolute wave wave-2"></div>
      <div class="absolute wave wave-3"></div>
      <div class="absolute wave wave-4"></div>
    </div>
  </div>
</div>
<!-- About -->
<div class="relative p-10 bg-white pt-32 overflow-hidden" id="about">
  <h1 class="text-5xl text-center font-bold p-5 uppercase">
    How <span class="font-lemon">TRONE</span> works
  </h1>
  <!--  Project details -->
  <div class="flex content-center items-center flex-col">
    <!--  Create an Account -->
    <div class="flex justify-center p-2">
      <div class="bg-white flex-shrink-0 mr-20">
        <img
          src="../svg/Acccount.svg"
          alt="create-account"
          class="w-96 h-96"
        />
      </div>
      <div>
        <div class="w-80 h-80 text-center px-10">
          <div
            class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24"
          >
            <h1 class="font-semibold text-xl">1</h1>
          </div>
          <h2 class="p-4 text-2xl font-semibold pt-5">Create Account</h2>
          <p class="text-lg">
            Start you journey to being productive and manage your tasks
            effectively with <span class="font-lemon">TRONE</span>.
          </p>
        </div>
      </div>
    </div>

    <!--  Log In  -->
    <div class="flex justify-center p-4">
      <div>
        <div class="w-80 h-80 text-center px-10">
          <div
            class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-20 ml-24"
          >
            <h1 class="font-semibold text-xl">2</h1>
          </div>
          <h2 class="p-4 text-2xl font-semibold pt-5">Log In</h2>
          <p class="text-lg">
            Make the most out it and start creating specific boards that
            would keeps your tasks in check.
          </p>
        </div>
      </div>
      <div class="bg-white flex-shrink-0 ml-20">
        <img
          src="../svg/Log in.svg"
          alt="create-account"
          class="w-96 h-96"
        />
      </div>
    </div>

    <!--  Boards -->
    <div class="flex justify-center p-4">
      <div class="bg-white flex-shrink-0 mr-20">
        <img
          src="../svg/Board.svg"
          alt="create-account"
          class="w-96 h-96"
        />
      </div>
      <div>
        <div class="w-80 h-80 text-center px-10">
          <div
            class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24"
          >
            <h1 class="font-semibold text-xl">3</h1>
          </div>
          <h2 class="p-4 text-2xl font-semibold pt-5">Boards</h2>
          <p class="text-lg">
            Make the most out it and start creating specific boards that
            would keeps your tasks in check.
          </p>
        </div>
      </div>
    </div>

    <!--  List  -->
    <div class="flex justify-center p-4">
      <div>
        <div class="w-80 h-80 text-center px-10">
          <div
            class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24"
          >
            <h1 class="font-semibold text-xl">4</h1>
          </div>
          <h2 class="p-4 text-2xl font-semibold pt-5">Lists</h2>
          <p class="text-lg">
            Specify certain lists in the board to know which to prioritize
            first.
          </p>
        </div>
      </div>
      <div class="bg-white flex-shrink-0 ml-20">
        <img src="../svg/List.svg" alt="create-account" class="w-96 h-96" />
      </div>
    </div>

    <!--  Card -->
    <div class="flex justify-center p-4">
      <div class="bg-white flex-shrink-0 mr-20">
        <img src="../svg/Card.svg" alt="create-account" class="w-96 h-96" />
      </div>
      <div>
        <div class="w-80 h-80 text-center px-10">
          <div
            class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24"
          >
            <h1 class="font-semibold text-xl">5</h1>
          </div>
          <h2 class="p-4 text-2xl font-semibold pt-5">Cards</h2>
          <p class="text-lg">
            Put your task in a card and add dates and labels to know what's
            important.
          </p>
        </div>
      </div>
    </div>

    <!--  Customize  -->
    <div class="flex justify-center p-4">
      <div>
        <div class="w-80 h-80 text-center px-10">
          <div
            class="rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-20 ml-24"
          >
            <h1 class="font-semibold text-xl">6</h1>
          </div>
          <h2 class="p-4 text-2xl font-semibold pt-5">Design</h2>
          <p class="text-lg">
            Customize the cards as you see fit to keep yourself going with
            its simple and user friendly interface.
          </p>
        </div>
      </div>
      <div class="bg-white flex-shrink-0 ml-20">
        <img
          src="../svg/Customize.svg"
          alt="create-account"
          class="w-96 h-96"
        />
      </div>
    </div>
  </div>
</div>

<hr>

<!--  Dependencies -->
<div class="relative p-10 bg-white pt-30 overflow-hidden mt-10" id="about">
  <h1 class="text-5xl text-center font-bold p-5 uppercase">
    <span class="font-lemon">Dependencies</span> used for the project
  </h1>
  <!--  Dependencies used -->
  <div class="flex content-center items-center flex-col">
    <div class="flex justify-center">
      <!--  bcrypt -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">1</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">bcrypt</h2>
          <p class="text-lg">
            A library to help hash passwords.
          </p>
          <br>
          <a href="https://www.npmjs.com/package/mongoose-bcrypt" target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
      <!--  connect-mongo -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">2</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">connect-mongo</h2>
          <p class="text-lg">
            A typescript-based MongoDB session store for Connect and Express.
          </p>
          <br>
          <a href="https://www.npmjs.com/package/connect-mongo" target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
      <!--  dotenv -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">3</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">dotenv</h2>
          <p class="text-lg">
            A zero-dependency module that reads environment variables from a.env file and loads them into process.env.
          </p>
          <br>
          <a href="https://www.npmjs.com/package/dotenv" target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
    </div>

    <div class="flex justify-center py-0">
      <!--  express -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">4</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">express</h2>
          <p class="text-lg">
            A lightweight and adaptable Node.js web application framework that offers a comprehensive set of features for developing web and mobile applications.
          </p>
          <br>
          <a href="https://www.tutorialspoint.com/nodejs/nodejs_express_framework.htm#:~:text=Express%20is%20a%20minimal%20and,core%20features%20of%20Express%20framework%20−" target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
      <!--  express-handlebars -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">5</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">express-handlebars</h2>
          <p class="text-lg">
            Ensures minimal templating and is a logicless engine that separates the view from the code. It can be used with express as the hbs module, which is available via npm.
          </p>
          <br>
          <a href="https://www.geeksforgeeks.org/handlebars-templating-in-expressjs/" target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
      <!--  express-session -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">6</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">express-session</h2>
          <p class="text-lg">
            HTTP is stateless, you need a way to store user data between HTTP requests in order to associate one request with another.
          </p>
          <br>
          <a href="https://www.tutorialspoint.com/expressjs/expressjs_sessions.htm" target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
    </div>
  
    <div class="flex justify-center py-0">
      <!--  express-validator -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">7</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">express-validator</h2>
          <p class="text-lg">
            A set of express.js middlewares that wraps validator.js validator and sanitizer functions.
          </p>
          <br>
          <a href="https://express-validator.github.io/docs/" target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
      <!--  method-override -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">8</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">method-override</h2>
          <p class="text-lg">
            It allows you to use HTTP verbs like PUT and DELETE in places where the client does not support them.
          </p>
          <br>
          <a href="https://www.npmjs.com/package/method-override" target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
      <!--  mongoose -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">9</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">mongoose</h2>
          <p class="text-lg">
            A MongoDB and Node.js Object Data Modeling (ODM) library. It manages data relationships, performs schema validation, and is used to translate between objects in code and their representation in MongoDB.
          </p>
          <br>
          <a href="https://www.freecodecamp.org/news/introduction-to-mongoose-for-mongodb-d2a7aa593c57/#:~:text=Mongoose%20is%20an%20Object%20Data,of%20those%20objects%20in%20MongoDB." target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
    </div>

    <div class="flex justify-center py-0">
      <!--  morgan -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">10</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">morgan</h2>
          <p class="text-lg">
            A HTTP request logger middleware for node.js
          </p>
          <br>
          <a href="https://www.npmjs.com/package/morgan" target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
      <!--  multer -->
      <div class="w-full p-10 m-4 py-0">
        <div class="w-80 text-center px-10">
          <h1 class="font-semibold text-xl rounded-full h-10 w-10 flex items-center justify-center bg-purple-200 mt-24 ml-24">11</h1>
        </div>
        <div class="w-80 text-center pt-5">
          <h2 class="p-4 text-2xl font-semibold pt-5">multer</h2>
          <p class="text-lg">
            A node.js middleware that handles multipart/form-data and is primarily used for file uploading. For maximum efficiency, it is written on top of the busboy.
          </p>
          <br>
          <a href="https://www.npmjs.com/package/multer" target="_blank" class="underline">Read documentation</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Wave SVG -->
<div id="svg-wave">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#6E65C4"
      fill-opacity="1"
      d="M0,192L60,213.3C120,235,240,277,360,282.7C480,288,600,256,720,224C840,192,960,160,1080,170.7C1200,181,1320,235,1380,261.3L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
    ></path>
  </svg>
</div>
<!-- Team -->
<div
  class="flex flex-col items-ceter justify-center bg-c-purple-darker p-8 2xl:px-64"
  id="team"
>
  <div
    class="text-center p-4 pb-8 text-4xl font-raleway font-bold text-white"
  >
    <h1>Meet Our Team</h1>
  </div>
  <!-- Team Cards -->
  <div class="flex flex-row xl:px-32">
    <!-- Card -->
    <div class="float-left mb-4 p-2 w-1/3 flex-auto bg-transparent">
      <div
        class="max-w-md mx-auto bg-white rounded-xl shadow-2xl overflow-hidden md:max-w-2xl transition ease-in-out duration-700 transform hover:scale-105 motion-reduce:transform-none"
      >
        <img
          class="h-48 w-full object-cover md:w-48"
          src="../img/heinze.jpg"
          alt="Heinze"
          style="width: 100%"
        />
        <div class="p-4 m-3 clear-both table">
          <h2 class="font-bold text-2xl mb-2">Heinze Kristian Moneda</h2>
          <p class="text-gray-400">
            BS Computer Science <br />Major in Software Technology
          </p>
          <p class="my-1 text-sm">De La Salle University</p>
          <p>heinze_moneda@dlsu.edu.ph</p>
        </div>
        <div
          class="p-2 text-white bg-purple-600 hover:bg-purple-800 text-center w-full"
        >
          <div class="flex justify-evenly p-0.5 text-lg">
            <a
              href="https://www.facebook.com/heinzedotmoneda"
              target="_blank"
              class="fa fa-facebook"
            ></a>

            <a
              href="https://www.instagram.com/heinzedotmoneda/"
              target="_blank"
              class="fa fa-instagram"
            ></a>
            <a
              href="https://www.linkedin.com/in/heinze-moneda/"
              target="_blank"
              class="fa fa-linkedin"
            ></a>
            <a
              href="https://github.com/HMoneda"
              target="_blank"
              class="fa fa-github"
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Card -->
    <div class="float-left mb-4 p-2 w-1/3 flex-auto bg-transparent">
      <div
        class="max-w-md mx-auto bg-white rounded-xl shadow-2xl overflow-hidden md:max-w-2xl transition ease-in-out duration-700 transform hover:scale-105 motion-reduce:transform-none"
      >
        <img
          class="h-48 w-full object-cover md:w-48"
          src="../img/juliana.png"
          alt="Heinze"
          style="width: 100%"
        />
        <div class="p-4 m-3 clear-both table">
          <h2 class="font-bold text-2xl mb-2">Juliana Marie Agulto</h2>
          <p class="text-gray-400">
            BS Computer Science <br />Major in Computer Systems Engineering
          </p>
          <p class="my-1 text-sm">De La Salle University</p>
          <p>juliana_agulto@dlsu.edu.ph</p>
        </div>
        <div
          class="p-2 text-white bg-purple-600 hover:bg-purple-800 text-center w-full"
        >
          <div class="flex justify-evenly p-0.5 text-lg">
            <a
              href="https://www.facebook.com/juliana.marieb"
              target="_blank"
              class="fa fa-facebook"
            ></a>

            <a
              href="https://www.instagram.com/xjulianamarie/"
              target="_blank"
              class="fa fa-instagram"
            ></a>
            <a
              href="https://www.linkedin.com/in/jmarie-agulto/"
              target="_blank"
              class="fa fa-linkedin"
            ></a>
            <a
              href="https://github.com/jmarie39"
              target="_blank"
              class="fa fa-github"
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Card -->
    <div class="float-left mb-4 p-2 w-1/3 flex-auto bg-transparent">
      <div
        class="max-w-md mx-auto bg-white rounded-xl shadow-2xl overflow-hidden md:max-w-2xl transition ease-in-out duration-700 transform hover:scale-105 motion-reduce:transform-none"
      >
        <img
          class="h-48 w-full object-cover md:w-48"
          src="../img/greco.png"
          alt="Heinze"
          style="width: 100%"
        />
        <div class="p-4 m-3 clear-both table">
          <h2 class="font-bold text-2xl mb-2">Alonzo Greco Polinga</h2>
          <p class="text-gray-400">
            BS Computer Science <br />Major in Computer Systems Engineering
          </p>
          <p class="my-1 text-sm">De La Salle University</p>
          <p>alonzo_polinga@dlsu.edu.ph</p>
        </div>
        <div
          class="p-2 text-white bg-purple-600 hover:bg-purple-800 text-center w-full"
        >
          <div class="flex justify-evenly p-0.5 text-lg">
            <a
              href="https://www.facebook.com/grecoalonzo"
              target="_blank"
              class="fa fa-facebook"
            ></a>

            <a
              href="https://www.instagram.com/grecopolinga/"
              target="_blank"
              class="fa fa-instagram"
            ></a>
            <a href="#" target="_blank" class="fa fa-linkedin"></a>
            <a
              href="https://github.com/grecopolinga"
              target="_blank"
              class="fa fa-github"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="font-raleway bg-c-purple-darker text-center p-4">
  <p>&copy 2021 <span class="font-lemon">TRONE</span></p>
</footer>