* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

button {
    outline: none;
    cursor: pointer;
}

#addTodoListDiv {
    margin-left: 2em;
}

#addTodoListDiv button {
    margin-left: 0.5em;
}

#addTodoListDiv button:hover {
    margin-left: 0.5em;
    background-color: #645e9d;
}

#root {
    margin: 1em;
    max-width: 100%;
}

.List {
    border-radius: 4px;
    min-height: 100px;
    background: rgb(235, 235, 235);
    padding: 0.7em;
    margin: 1em 0 1em 1em;
    box-shadow: 5px 7px 10px -1px rgba(189, 187, 189, 1);
    float: left;
}

.List h2 {
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

#to-do-list-button {
    margin-left: 0.5em;
}

.card {
    border-radius: 4px;
    border-bottom: rgb(180, 180, 180) 1px solid;
    background: white;
    margin: 0.5em 0 0 0;
    padding: 0.5em;
    font-size: 0.9em;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.card button {
    visibility: hidden;
    height: max-content;

    background: none;
    border: none;
    padding: 0.3em;
}

.card:hover button {
    visibility: visible;
}

.card button:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    cursor: pointer;
}

.comment button {
    visibility: hidden;
    height: max-content;
    float: right;
    background: none;
    border: none;
    margin-bottom: 0.5em;
}

.comment:hover button {
    visibility: visible;
}

.comment button:hover {
    background-color: none;
    border-radius: 4px;
    cursor: pointer;
}

.menuContainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.menu {
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    width: 500px;
    min-height: 300px;
    margin: auto;
    padding: 1em;
    border-radius: 4px;
}

.menuTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.menuDescription {
    margin-bottom: 2em;
    line-height: 1.5em;
}

.menuDescription textarea {
    width: 100%;
    height: 5em;
    padding: 0.5em;
    font-size: 1.1em;
}

.menuComments {
    margin-top: 23px;
}

.input_field {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
}

.comment {
    background-color: #918cbd;
    border: 1px solid #918cbd;
    border-radius: 4px;
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
}

.commentsInput {
    margin-right: 0.5em;
}

.btn-save-card {
    background-color: rgba(177, 156, 217);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 0.5em;
}

.btn-save-card:hover {
    background-color: #645e9d;
}

.btn-save-comment {
    background-color: rgba(177, 156, 217);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 0.5em;
}

.btn-save-comment:hover {
    background-color: #645e9d;
}

.btn-save-edit {
    background-color: rgba(177, 156, 217);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 0.5em;
}

.btn-save-edit:hover {
    background-color: #645e9d;
}

.btn-save-list {
    background-color: rgba(177, 156, 217);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 0.5em;
}

.btn-save-list:hover {
    background-color: #645e9d;
}

.delButton-card {
    height: max-content;
    color: #aca2a2;
    float: right;
    background: none;
    border: none;
    padding: 0.1em;
}

.delButton-card:hover {
    color: #615d5d;
    border-radius: 4px;
    cursor: pointer;
}

.delButton-list {
    height: max-content;
    color: #aca2a2;
    float: right;
    background: none;
    border: none;
    padding: 0.1em;
}

.delButton-list:hover {
    color: #615d5d;
    border-radius: 4px;
    cursor: pointer;
}

.delButton-comment {
    height: max-content;
    color: #aca2a2;
    float: right;
    background: none;
    border: none;
    padding: 0.1em;
}

.delButton-comment:hover {
    color: #615d5d;
    border-radius: 4px;
    cursor: pointer;
}

.closeButton-list {
    height: max-content;
    color: #aca2a2;
    float: right;
    background: none;
    border: none;
    padding: 0.1em;
}

.closeButton-list:hover {
    color: #615d5d;
    border-radius: 4px;
    cursor: pointer;
}
